form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 60px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: lightblue;
}

h2{
  font-family: Arial;
  color: coral;
}

#nav li {
  display: inline;
}

#search,
#detail,
#create,
#edit {
  /* display: none; */
}

.view{
  color: black;
}

fieldset{
  border: 3px solid purple;
}

legend{
  color: darkblue;
  font-weight: 700;  
}

label{
  color: darkblue;
  font-weight: 700;
}

.titleInput{
  width: 500px;
}